.blog-wrapper .single-blog-area img {
    width: 100%;
    height: 500px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.blog-wrapper .single-blog-area .post-title {
    background-color: #4f6f93;
}

.blog-wrapper .single-blog-area .hover-content {
    background-color: #6084ab;
}